spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pta_db
    username: pta_user
    password: pta_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
